<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
        <add assembly="Exceptionless.NLog"/>
  </extensions>
  <targets>
    <target name="exceptionless" xsi:type="Exceptionless" />
  </targets>

  <rules>

    <logger name="*" minLevel="Trace" appendTo="exceptionless"/>

  </rules>
</nlog>